node_modules
SuperQuest.code-workspace
.dropbox
.DS_Store
*.mayaSwatches
*hand_animation.gif
*src/assets/hands_demo_animation.mb
*hands_demo_animation.mb*
*push.sh*
src/components/old
src/components/old/
ignore
.vscode/*
